* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.hero-section {
  background-color: #343a40;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #d7d7d7;
}
.main-nav {
  display: flex;
  justify-content: space-between;
}
.nav-items {
  display: flex;
  gap: 40px;
}
#name {
  /* flex: 1; */
}
